<div class="container">
  <div class="row">

    <div class="col-lg-12 col-lg-offset-0">
    <div class="col-lg-8 col-lg-offset-2" style="padding: 30px 0;">
    <% unless user_signed_in? %>
    <h1 class="text-primary text-center">ようこそ P I C M A R K S へ</h1>
      <p class="text-center">PICMARKはお気に入りの記事に自分のコメントを記録して、記事に対する考えや気づきを記録するサービスです。<br>他の人のコメントも見ることができます!</p>
      <%= link_to "新規会員登録", root_path, class: "btn btn-danger center-block text-center", style: "width: 40%" %>
      <% end %>
      </div>
      <% @posts.each do |post| %>
          <div class="col-md-6 col-lg-6">
              <ul class="all-blogs">
                  <li class="media">
                    <% if post.image.present? %>
                      <a class="pull-left" href="/posts/<%= post.id %>">
                          <img src="<%= post.image %>" alt="..." style="width:180px;">
                      </a>
                    <% else %>
                    <a class="pull-left" href="/posts/<%= post.id %>">
                      <%= image_tag("nill.png", :width => "180px" ) %>
                    </a>
                    <% end %>
                      <div class="media-body">
                          <h4 class="media-heading"><%= truncate(post.title, length: 50)%></h4>
                          <p class="author"><%= post.date %></p>
                          <%= fa_icon "inbox" %>
                          <%=link_to "PIC", post_path(post.id) %>
                      </div>
                  </li>
              </ul>
          </div>
        <% end %>
    </div>
    <div>
    <%= paginate(@posts) %>
    </div>
    <div>
    <p>参照元：<%= link_to "http://b.hatena.ne.jp/", "http://b.hatena.ne.jp/" %></p>
  </div>
  </div>
</div>